Script.cpython-35m-darwin.so
__pycache__
aozora_text/*.txt
aozora_text/zip/*.zip
aozora_text/files/*
tb.log

dictionaly/
lib/__pycache__/*
cons/__pycache__/*
model/__pycache__/*
model/weight/*
dict/*

.DS_Store
!.gitkeep
