Script.cpython-35m-darwin.so
__pycache__
aozora_text/*.txt
aozora_text/zip/*.zip
aozora_text/files/*
tb.log

dictionaly/
lib/__pycache__/*.pyc
cons/__pycache__/*.pyc
model/__pycache__/*.pyc
model/weight/*
dict/*

.DS_Store
!.gitkeep
